
.acerca {
  
  position: relative;   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;



  animation: glitchBuild 0.7s ease-out forwards;
}

@keyframes glitchBuild {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    filter: blur(8px) hue-rotate(90deg);
  }

  50% {
    transform: translateX(20px);
    filter: blur(4px) hue-rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0) hue-rotate(0);
  }
}



.logo-acerca {
  width: 150px;
  margin-bottom: 20px;
}


.titulo-acerca {
  margin-bottom: 25px;
  font-size: 28px;
}


.imagen-acerca img {
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
}


.nombre-rectangulo {
  background-color: #1f8f3a;
  border: 3px solid #b22222;
  border-radius: 15px;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}


.card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}


.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1f8f3a; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-inicio {
  display: block;
  width: fit-content;
  margin: 20px auto;


  background-color: #1f8f3a;
  border: 3px solid #b22222;
  border-radius: 10px;
  padding: 8px 15px;

  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  
}

.btn-inicio:hover {
  background-color: #26a64a;
  transform: scale(1.05);
}
.footer {
  background-color: #1f8f3a;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-whatsapp {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;

  background-color: #1f8f3a;
  border: 3px solid #b22222;
  border-radius: 10px;

  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-whatsapp:hover {
  background-color: #26a64a;
  transform: scale(1.05);
}
.pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  animation: reconstruccion 0.8s ease-out forwards;
}

.descripcion {
  max-width: 800px;
  text-align: center;
  margin-bottom: 30px;
}

.grid-cursos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1100px;
  width: 100%;
  margin-bottom: 40px;
}
.curso-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
}


