body{
  margin:0;
  padding:0;
  font-family:'Segoe UI', sans-serif;
  background:#0f172a;
}

.contenedor{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:40px;
  padding:40px;
}

.cuadro{
  width:80%;
  max-width:800px;
  background:#16a34a;
  border:4px solid white;
  border-radius:25px;
  padding:30px;
  text-align:center;
  color:white;
  box-shadow:0 15px 35px rgba(0,0,0,.4);
}

.imagen img{
  width:100%;
  border-radius:20px;
}
