

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #e8f5e9, #c8e6c9);
}



.pagina-galeria {
    padding: 40px 20px;
    text-align: center;
}



.btn-inicio {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-inicio:hover {
    background-color: #1b5e20;
}



.logo-acerca {
    width: 120px;
    margin-bottom: 15px;
}



.titulo-acerca {
    display: block;
    margin: 0 auto 25px auto;
    text-align: center;
    width: fit-content;
}




.card {
    background: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.galeria-grid img {
    width: 100%;
    height: 170px;          
    object-fit: cover;     
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galeria-grid img:hover {
    transform: scale(1.05);
}



.footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}



@media (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria-grid {
        grid-template-columns: 1fr;
    }

    .galeria-grid img {
        height: 150px;
    }
}
.btn-inicio {
    display: inline-block;
    float: left;
}

.p
    {
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        color: #555;
    }
    .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
