
body {
  margin: 0;
  height: 100vh;

  background-image: url("assets/insc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: aparecer 1.5s ease forwards;
}


.logo {
  width: 220px;
  margin-bottom: 40px;
}


.botones {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 20px;
}

/* Botones */
.botones a {
  text-align: center;
  padding: 15px;

  background-color: #1f8f3a; /* verde */
  color: white;
  text-decoration: none;

  border-radius: 15px;
  border: 3px solid #b22222; /* borde rojo */

  font-weight: bold;
  transition: 0.3s;
}

/* Hover */
.botones a:hover {
  transform: scale(1.05);
  background-color: #26a64a;
}

/* Animación fade in */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.clave-sep {
    margin: 15px 0;
    font-size: 14px;
    color: #333;
}

.links-oficiales {
    margin: 10px 0 30px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.link-social {
    text-decoration: none;
    background: #0f7c3c;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.link-social:hover {
    background: #b22222;
}
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    width: 100%;
    margin-top: 30px;
}





.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.galeria-grid img {
    width: 100%;
    height: 180px;       /* tamaño ideal rectangular */
    object-fit: cover;   /* evita que se deformen */
    border-radius: 8px;
}


.galeria-grid img:hover {
    transform: scale(1.05);
}

