
body {
  margin: 0;
  height: 100vh;

  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: aparecer 1.5s ease forwards;
}


.logo {
  width: 300px;
  margin-bottom: 40px;
}


.botones {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 20px;
}


.botones a {
  text-align: center;
  padding: 15px;

  background-color: #1f8f3a; 
  color: white;
  text-decoration: none;

  border-radius: 15px;
  border: 3px solid #b22222; 

  font-weight: bold;
  transition: 0.3s;
}

.botones a:hover {
  transform: scale(1.05);
  background-color: #26a64a;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.clave-sep {
    margin: 15px 0;
    font-size: 14px;
    color: #333;
}

.links-oficiales {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icono-social {
  width: 40px;
  transition: 0.3s;
}

.icono-social:hover {
  transform: scale(1.15);
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    width: 100%;
    margin-top: 30px;
}


.clave-sep {
    font-size: 25px;
    font-weight: bold;
    color: #18e62d;  /* O el color que uses */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.nombre-rectangulo {
  background-color: #1f8f3a;
  border: 3px solid #b22222;
  border-radius: 15px;
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.footer-oficial {
  background-color: #1f8f3a;
  color: white;
  text-align: center;
  padding: 25px 15px;
  margin-top: 40px;
}

.info-oficial p {
  margin: 5px 0;
  font-size: 15px;
}
